* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --font-title: 'Genos';
    --font-text: 'Liter';
    --font-headings: 'Chonburi';

    --color-white: #fffcf2ff;
    --color-offwhite: #ccc5b9ff;
    --color-gray: #6c6660ff;
    --color-black: #151514ff;
    --color-pink: #f193a1ff;

    --font-size-regular: 1rem;
    --font-weight-regular:500;
    --font-weight-bold:600;

}

body {
    background: var(--color-black);
    font-family: var(--font-text);
    color: var(--color-white);
    font-weight: var(--font-weight-regular);
    font-size: var(--font-size-regular);
}

/* ##############
        TITLE 
#################*/
.header {
    font-family: var(--font-title);
    font-size: 1.25rem;
    padding: 2em;
    margin-top: 3em;
    margin-bottom: -.25em;
}
.header--title {
    line-height: 0.8;
}

/* ##############
        MAIN 
#################*/
.main {
    display: flex;
    justify-content: center;
    align-items: center;
}

::-webkit-scrollbar {
    background: transparent;
}

.items {
    height: 350px;
    width: 100%;

    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap; /*never wrap to the next line*/
    user-select: none; /* user cannot select text ?*/
    cursor: pointer;

    display: flex;
    align-items: center;
    column-gap: 0.75em
}

.items.active {
    cursor: grabbing;
    cursor: -webkit-grabbing;
    transform: scale(1);
}

.item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.item img {
    width: 190px;
    border-radius: 10px;

    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.item9 {
    margin-right: 1em;
}
.item1 {
    margin-left: 1em;
}

.item5.levitate {
    margin-bottom: 2em;
}

/* ##############
        FOOTER 
#################*/
.footer {
    text-align: center;
    padding: 1em 0;
}