* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root {
    --font-title: 'Genos';
    --font-text: 'Liter';
    --font-headings: 'Chonburi';

    --color-white: #fffcf2ff;
    --color-offwhite: #ccc5b9ff;
    --color-gray: #6c6660ff;
    --color-black: #151514ff;
    --color-pink: #f193a1ff;

    --font-size-regular: 1rem;
    --font-weight-regular:500;
    --font-weight-bold:600;

}

body {
    background: var(--color-black);
    font-family: var(--font-text);
    color: var(--color-white);
    font-weight: var(--font-weight-regular);
    font-size: var(--font-size-regular);

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;

    position: relative;
    z-index: 0;
}

/*  START SCREEN
    mobile exclusive  */

.startScreen.active {
    min-height: 100vh;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;

    grid-column: 1;
    grid-row: 1;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 3;
}

.blackScreen{
    min-height: inherit;

    grid-row: 1;
    grid-column: 1;

    background-color: var(--color-black);
    opacity: 80%;
}
.startBtn {
    text-align: center;
    padding: 0.5em 0;
    margin-left: 2.5em;
    margin-right: 2.5em;

    position: relative;
    z-index: 3;

    grid-column: 1;
    grid-row: 1;

    font-family: var(--font-headings);
    color: var(--color-black);
    background-color: var(--color-pink);
    font-weight: 600;
    border-radius: 15px;
    padding: 1em 1em;
}
.instructions:nth-child(1) {
   text-decoration: underline;
   font-size: 1.5rem;
   line-height: 3.5;
}
.instructions:nth-child(5) {
    font-size: 1rem;
    line-height: 4.5;
 }

/* after user initializes session*/
.startScreen.gone {
    display: none;
}


/* video holder and player dimensions*/
.videoHolder {
    min-height: 100vh;
    overflow-x: hidden;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    justify-content: center;
    align-items: center;

    grid-column: 1;
    grid-row: 1;
    position: relative;
    z-index: 1;

}

.player {
    width: 100%;
    grid-row: 1;
    grid-column: 1;
    /* height: 100%; */
}


/* controls */
.controls.active {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;

    grid-row: 1;
    grid-column: 1;
    z-index: 2;
}

.prevVideo {
    width: 50%;
    min-height: 100%;
    background-color: transparent;
}

.nextVideo {
    width: 50%;
    min-height: 100%;
    background-color: transparent;
}

/* after user initializes session*/
.controls.gone {
    display: none;
}

/* menu and menu options*/
.menu {
    z-index: 4;

    width: 100%;
    margin-top: -8em;
    opacity: 95%;
    padding: 0.75em 0;
    background-color: var(--color-black);
    border-top: 3px solid var(--color-pink);
    border-bottom: 3px solid var(--color-pink);
    align-items: start;
}

.fa-solid {
    color: #f193a1;
}

.menuOptions {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}

