* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root {
    --font-title: 'Genos';
    --font-text: 'Liter';
    --font-headings: 'Chonburi';

    --color-white: #fffcf2ff;
    --color-offwhite: #ccc5b9ff;
    --color-gray: #6c6660ff;
    --color-black: #151514ff;
    --color-pink: #f193a1ff;

    --font-size-regular: 1rem;
    --font-weight-regular:500;
    --font-weight-bold:600;

}

body {
    background: var(--color-black);
    font-family: var(--font-text);
    color: var(--color-white);
    font-weight: var(--font-weight-regular);
    font-size: var(--font-size-regular);

    display: flex;
    justify-content: center;
    align-items: center;
}

.videoHolder {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: pink;
}

.player {
    width: 100%;
}